.admin-component {
    background-color:rgb(238, 204, 233);
    display:flex;
    width: auto;
    height: 100vh;
}

.link-block {
    background-color:rgb(82, 51, 77);
    border-right: 2px white;
    display: grid;
    width: 30%;   
}

.link {
    color: white;
    text-align: center;
    font-size: 22px;
    text-decoration: none;    
}

.link:hover {
    color: rgb(250, 247, 217);
}

.info {
    hyphens: auto;
    color: white;
    font-style: italic;
    font-weight: lighter;
    text-align: end;
    margin: 15px;
}

.choice-block {
    margin: auto;
    display: grid;
    row-gap: 10px;
    width: 40%;
    height: 30%;
}

.btn-choice {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid rgb(250, 247, 217);
    padding: 5px 10px 5px 10px;
    border-spacing: 10px;
    border-radius: 5px;
    background-color: white;
    row-gap: 50px;
}

.btn-choice:hover {
    color: rgb(134, 118, 206);
}

.add-form {
    margin: auto;
    width: 70%;
    padding: 15px 20px 15px 20px;
    row-gap: 10px;
    color: rgb(82, 51, 77);
    font-style: italic;
    display: grid;
    background-color: rgb(250, 247, 217);
    border: 2px solid white;
    border-spacing: 10px;
    border-radius: 5px;
}

.input-field {
    float: right;
    border: 2px rgb(82, 51, 77);
    padding: 5px;
    width: 60%;
    font-style: italic;
    color: rgb(82, 51, 77);
    font-size: 15px;
    height: 30px;
}

.btn-form {
    color: rgb(82, 51, 77);
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    border: 2px solid rgb(250, 247, 217);
    height: 28px;
    border-radius: 5px;
    background-color: white;
}

.btn-form:hover {
    color: rgb(134, 118, 206);
}

.allbooks {
    margin-top: -220px;
    row-gap: 10px;
    color: rgb(82, 51, 77);
    font-style: italic;
    display: grid;
    background-color: rgb(250, 247, 217);
    border: 2px solid white;
    border-spacing: 10px;
    border-radius: 5px;
}

.delete {
    margin-top: -300px;
    margin-bottom: 50px;
}

.delete-field {
    float: left;
    margin-left: 20%;
    margin-bottom: 20px;
}

.delete-btn {
    width: 97%;
    float: right;
   
}

.allbooks-title {
    text-align: center;
    background-color: white;
    margin-top: 0px;
    font-size: 18px;
}

.item-book {
    list-style:none;
    margin-left: 15px;
    margin-bottom: 20px;
}

.input-edit {
    float: left;
    border: 2px rgb(82, 51, 77);
    padding: 5px;
    width: 60%;
    font-style: italic;
    color: rgb(82, 51, 77);
    background-color: white;
    font-size: 15px;
    height: 22px;
    margin-top: 5px;
}

.change-btn {
    height: 37px;
    cursor: pointer;
    font-size: 15px;
    font-style: italic;
    border: 2px solid rgb(250, 247, 217);
    padding: 5px 10px 5px 10px;
    border-spacing: 10px;
    border-radius: 5px;
    color: rgb(82, 51, 77);
    background-color: rgb(238, 204, 233);
    margin-left: 10px;
}

.change-btn:hover {
    background-color: rgb(82, 51, 77);
    color: white;
}